@using System.Net.Mime
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (!User.IsInRole(AppEnum.RolEnum.Admin.ToString()))
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    }
                    
                    @if (User.IsInRole(AppEnum.RolEnum.Admin.ToString()))
                    {

                        //Vehicle Registration DropDown ---------------------------
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Register<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Add New User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                            </ul>
                        </li>

                        //Vehicle Menu DropDown ---------------------------
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Vehicle<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Add New Vehicle", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                            </ul>
                        </li>

                        //Driver Menu DropDown ---------------------------
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Driver Info<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Add New Driver Info", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                            </ul>
                        </li>



                        //Requisition Menu DropDown ---------------------------
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Driver Info<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Add New Driver Info", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                            </ul>
                        </li>


                        //Checker Menu DropDown ---------------------------
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Gate Pass<span class="caret"></span></a>
                            <ul class="dropdown-menu alert-info">
                                <li>@Html.ActionLink("Check In", "Index", "Home")</li>
                                <li>@Html.ActionLink("Check Out", "Index", "Home")</li>
                                <li>@Html.ActionLink("Add New User", "Index", "Home")</li>
                            </ul>
                        </li>

                    }
                    @if (User.IsInRole(AppEnum.RolEnum.User.ToString()) && !User.IsInRole(AppEnum.RolEnum.Admin.ToString()))
                    {
                        <li>@Html.ActionLink("Profile", "About", "Home")</li>
                        <li>@Html.ActionLink("New Request", "Contact", "Home")</li>
                        <li>@Html.ActionLink("My Request", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Vehicle Search", "Contact", "Home")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET MediaTypeNames.Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
